<div class="modal fade " id="empresaModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecione uma empresa!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-3 mt-3 ml-3">
                <%= form_with(model: [ :collaborators_backoffice, Collaborator.find(current_collaborator.id) ], local: true ) do |form| %>

                    <%= form.collection_select(:cod_empresa, 
                        Empresa.where("cod_empresa in (select cod_empresa from funcionarioempresa where cod_funcionario = ? and ativo = ? )",
                            current_collaborator.cod_funcionario, true).order(:cod_empresa),
                        :cod_empresa, :nome, {:selected => current_collaborator.cod_empresa}, class: "form-control d-grid gap-2") %>

                        <div class="modal-footer">
                            <%= form.submit "Salvar", class: "btn btn-primary" %>
                        </div>
                <% end %>
            </div>
        </div>
    </div>
</div>