<!-- Modal -->
<div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">

      <%= form_with(model: [ :collaborators_backoffice, Funcionario.find(current_collaborator.funcionario.cod_funcionario) ], 
                    class: "form-horizontal form-label-left") do |form| %>

        <div class="modal-header">
          <h5 class="modal-title" id="avatarModalLabel">Avatar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>

        <div class="modal-body">
          <div class="form-group">

            <div id="imagePreview" class="image-preview d-flex justify-content-center align-items-center" style="width: 100%; height: 150px; overflow: hidden;">
              <%= image_tag(avatar_url.presence || asset_path('img_bkp.jpg'), alt: "Avatar", class: "img-circle profile_img", style: "max-width: 100%; height: 150px;", id: "imagePreview", crossorigin: "anonymous") %>
            </div>
<br>
            <!-- Aqui a imagem carregada será exibida -->
            <div id="imagePreview" class="image-preview d-flex justify-content-center align-items-center" style="width: 100%; height: 150px;">
              <img id="imgPreview" src="<%= asset_path('img_bkp.jpg') %>" alt="Preview" class="img-circle profile_img" style="max-width: 100%; height: 150px; object-fit: cover;" />
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <%= form.file_field :avatar, id: "avatarFileInput", class: "d-none" %>
          <label for="avatarFileInput" class="btn btn-primary btn-block">Escolher Avatar</label>

          <button type="submit" class="btn btn-success btn-block">Salvar</button>
        </div>
            
      <% end %>

    </div>
  </div>
</div>

<script>
  document.getElementById("avatarFileInput").addEventListener("change", function(event) {
    var file = event.target.files[0];
    
    if (file) {
      var reader = new FileReader();
      
      reader.onload = function(e) {
        var imgElement = document.getElementById("imgPreview");
        imgElement.src = e.target.result;
      };
      
      reader.readAsDataURL(file);
    }
  });
</script>