<div class="modal fade" id="produto_info" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center bg-primary text-white">
        <h5 class="modal-title" id="modal-produto-titulo">Estoque por cor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Produto</th>
              <th>Cor</th>
              <th>Quantidade</th>
            </tr>
          </thead>
          <tbody id="tabela-cores-body">
            <tr>
              <td colspan="3">Carregando...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
