<div class="modal fade" id="lojaModal<%=produto.cod_produto%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selecione com quem gostaria de falar!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul id="listaLojas" class="list-group">
          <% @colaboradores.each do |loja| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span><%= loja.display_name %></span>
              <% if defined?(produto) && produto %>
                <% mensagem = "👋 Oi! Estou interessado(a) no produto #{produto.titulo&.capitalize}(#{produto.cod_produto}) e quero saber mais detalhes. Você poderia me informar?" %>
              <% else %>
                <% mensagem = "👋 Oi! Gostaria de saber mais informações sobre os produtos disponíveis." %>
              <% end %>
              <% url_whatsapp = "https://wa.me/#{loja.whatsapp_number.gsub(/\D/, "")}?text=#{URI.encode_www_form_component(mensagem)}" %>
              <a href="<%= url_whatsapp %>" class="btn btn-success btn-sm" target="_blank" rel="noopener">
                <i class="fab fa-whatsapp me-1"></i> Conversar
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>