<tr class= "nested-fields">
    <td class="">
        <%= f.text_field :numeroparcela, class: "form-control border-top-0 border-start-0 border-end-0 border-dark", readonly: true %>
    </td>
    <td class="">
        <%= f.text_field :dtvencimento, class: "fallback datepicker form-control border-top-0 border-start-0 border-end-0 border-dark" %>
    </td>
    <td class="">
        <%= f.text_field :valorparcela, class: "form-control border-top-0 border-start-0 border-end-0 border-dark" %>
    </td>
    <%# <td class="align-middle fw-semibold"> %>
        <%# link_to_remove_association f, class: 'btn btn-primary btn-xs', data: { confirm: 'Tem certeza?' }, title: 'Remover' do %>
        <%# <i class="fa fa-trash-can"></i> %>
        <%# end %>
    <%# </td> %>
</tr>
