<div class="modal fade" id="modalVendedor" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center bg-primary text-white">
        <h4 class="modal-title" id="modalLabel">
          Alterar Vendedor
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ms-2 me-2">
        <%= form_with url: "", method: :patch, local: true, id: "vendedor-form" do |form| %>
          <div class="mt-3">
            <%= form.collection_select :cod_funcionario, Funcionario.joins(:funcionarioempresas).where(funcionarioempresas: { cod_empresa: current_collaborator.cod_empresa, ativo: true }).where(ativo: true, datademissao: nil).select(:cod_funcionario, :usuario), :cod_funcionario, :usuario, { prompt: "Selecione o Vendedor" }, class: "form-select" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <%= form.submit "Salvar", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
