<div class="modal fade" id="coresModal" data-tor-parent="show">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Selecione a cor do item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3 ">
          <%= collection_select(
          :cod_cor, 
          :cod_cor, 
          {}, 
          :cod_cor, 
          :nmcor, 
          { prompt: 'Selecione uma Cor' }, 
          class: "form-control border-top-1 border-start-1 border-end-1 border-dark", 
          id: "cor_id"
        ) %>
        </div>
      </div>
    </div>
  </div>
</div>
