<tr class= "nested-fields">
    <td class="align-middle fw-semibold">
        <%= f.text_field :cod_empresa %>
    </td>
    <td class="align-middle fw-semibold">
        <%= f.text_field :nome_empresa %>
    </td>
    <td class="align-middle fw-semibold">
        <%= link_to_remove_association('Remover', f) %>
    </td>
</tr>

