<div class="card">
  <div class="card-header bg-primary">
    <h4 class="text-white">Editar Layout</h4>
  </div>
  <div class="card-body">
    <%= render 'collaborators_backoffice/cadinternalframes/shared/form' %>
  </div>
</div>