<div class="card mt-2">
  <div class="card-header bg-primary">
    <h4 class="text-white">Novo Layout</h4>
  </div>
  <div class="card-body">
    <%= render 'collaborators_backoffice/cadinternalframes/shared/form' %>
  </div>
</div>