<div class="card mt-3">
  <div class="card-header text-center bg-success text-white">
    <h4>Novo Pedido de Compra</h4>
  </div>
  <div class="card-body">
    <%= render partial: 'collaborators_backoffice/pedidos_compras/shared/form', locals: { action_message: "Salvar Pedido" } %>
  </div>
</div>