<h1>Bem-vindo, <%= @collaborator.funcionario.usuario %>!</h1>
<p>Seu acesso foi criado, mas você precisa definir sua senha antes de usar o sistema.</p>
<p>Para definir sua senha, clique no link abaixo:</p>

<%= link_to 'Definir Senha', @url %>

<p>Se você não reconhece este e-mail, ignore esta mensagem.</p>
