<tr class= "nested-fields">
    <td class="">
        <%= f.text_field :cod_produto %>
    </td>
    <td class="">
        <%= f.text_field :nome_produto %>
    </td>
    <td class="">
        <%= f.text_field :quantidade %>
    </td>
    <td class="">
        <%= f.text_field :valorunitario %>
    </td>
    <td class="align-middle fw-semibold">
        <%# = link_to_remove_association('Remover', f) %>
    </td>
</tr>

