

    <h1>MOVEIS ROSA STORE</h1>


<p><%= button_to 'Fazer logoff? [Colaborador]', destroy_collaborator_session_path, method: :delete %></p>
   
   
   
    <br>
        <input type="text" maxlength="9" id="valor" onkeyup="formatarMoeda()">
    <br>
    <br>
    <%= number_to_currency 0.0 %>
    <br>

    