
<div class="d-flex p-2">
    <button type="button", class="btn btn-success btn-circle px-4", data-bs-toggle="modal",
        data-bs-target="#produtoModal", href="collaborators_backoffice/produtos/shared" 
            data-bs-whatever="passa para o modal" >
        <i class="fa fa-plus">  Produto</i>
    </button>
</div>
<%# <%= render partial: 'collaborators_backoffice/produtos/shared/produto_modal', locals: { produto: @produto } % > %>

<%= render partial: 'collaborators_backoffice/produtos/shared/produto_modal', locals: { action_message: 'Modal' } %>
      
    <br>
    <%#= number_to_currency 1234567890.50 %>
    <br>

    