<div class="modal fade" id="<%= modal_id %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center bg-primary text-white">
        <h5 class="modal-title">Fale Conosco</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Escolha com quem gostaria de conversar sobre:
          <h5><%= " #{produto.titulo}" if defined?(produto) && produto %></h5>
        </p>
        <% WhatsappContact.all.each do |contato| %>
          <div class="d-grid gap-2 mb-2">
            <% if defined?(produto) && produto && defined?(cod_cor) && cod_cor %>
              <% mensagem = "👋 Oi! Estou interessado(a) no produto #{produto.titulo&.capitalize} (#{produto.cod_produto}). Veja: #{produto_url(produto.cod_produto, cod_cor)}" %>
            <% elsif defined?(produto) && produto %>
              <% mensagem = "👋 Oi! Estou interessado(a) no produto #{produto.titulo&.capitalize} (#{produto.cod_produto}) e quero saber mais detalhes." %>
            <% else %>
              <% mensagem = "👋 Oi! Gostaria de saber mais informações sobre os produtos disponíveis." %>
            <% end %>
            <% url_whatsapp = "https://wa.me/#{contato.whatsapp_number.gsub(/\D/, "")}?text=#{URI.encode_www_form_component(mensagem)}" %>
            <a href="<%= url_whatsapp %>" class="btn btn-success" target="_blank">
              <i class="fab fa-whatsapp me-2"></i><%= contato.display_name %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>