
<tr class= "nested-fields">

    <td class="">
        <%= f.collection_select(:cod_empresa, Empresa.all, 
                :cod_empresa, :nome, {:prompt => 'Selecione uma Empresa'},
                    class: "form-control border-top-0 border-start-0 border-end-0 border-dark" ) %>
    </td>
    <td class="align-middle fw-semibold">
        <%= link_to_remove_association f, class: 'btn btn-primary btn-xs' do %>
                
            <i class="fa fa-trash-can"></i>
        <% end %>
        
    </td>
    <%= f.hidden_field :cod_funcionario %>
    <%= f.hidden_field :cod_funcionarioempresa %>
</tr>

