.row-clickable:hover {
  background-color: #007bff !important; /* Azul ao passar o mouse */
  color: white;
}

form {
  // min-width: 900px; /* Largura mínima para o formulário */
}

.modal-content {
  background: transparent;  /* Torna o fundo transparente */
  border: none;  /* Remove a borda do modal */
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.5);  /* A sombra do fundo pode ser leve */
}

.modal-body {
  padding: 0 !important;  /* Remove o padding da área do modal */
}

/* Mostrar os três pontinhos quando passar o mouse */
.dropdown:hover .dropdown-indicator {
  display: block;
}

/* Remover a seta para baixo do dropdown */
.dropdown-toggle::after {
  display: none !important;
}

/* Garante que o dropdown apareça sobre a imagem */
.dropdown-menu {
  position: absolute !important;
  top: 10px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 1050 !important;
  width: auto !important;
}
