<tr class= "nested-fields">
    <td class="align-middle fw-semibold">
        <%= form.text_field :cod_produto %>
    </td>
    <td class="align-middle fw-semibold">
        <%= form.text_field :valor %>
    </td>
    <td class="align-middle fw-semibold">
        <%= link_to_remove_association('Remover', form) %>
    </td>
</tr>

