<h1>Editar Lançamento Diverso</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
<%= link_to 'Voltar', collaborators_backoffice_lancamentosdiversos_path %>